# Visual Studio Code
.vscode/*
build/

# Visual Studio
.vs/*
out/
CMakeSettings.json

# Resources
art/*
!art/black1_alpha.png
!art/black1.png
!art/white1_alpha.png
!art/white1.png
!art/wooden_texture.png
!art/xp_style.manifest
!art/GoPlusPlus.rc
!art/Icon.ico

# Test Files
*.go
