#include <wx/msw/wx.rc>

aaaMAIN_ICON ICON "icon.ico"

BLACK       RCDATA "black1.png"
BLACK_ALPHA RCDATA "black1_alpha.png"
WHITE       RCDATA "white1.png"
WHITE_ALPHA RCDATA "white1_alpha.png"
BKG         RCDATA "wooden_texture.png"
BKG2        RCDATA "wooden_texture_2.png"
MASK        RCDATA "mask.png"
